
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&family=Rubik+Pixels&display=swap'); 
 :root{
    --main-bg-color: #2874f0;
 }

*{
    margin: 0;
    padding: 0;
    
}

header{
    background: var(--main-bg-color);
    font-family: 'Bodoni Moda', serif;
    text-decoration: none;

}

body{
     background: white; 
}



nav{
    display: flex;
    text-decoration:none;
    height: 60px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
    margin-left: 10rem;
}

.srch{
    margin-left: -7.5rem;
    margin-top: 1rem;
}
nav ul{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
nav ul li{
    list-style :none; 
    padding: 0 20px;

}
nav ul li a :hover{
    font-weight: bolder;

}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

main div.container{
    background:lightblue;
}

.search .btn{
    width: 84px;
}

.search{
    display: flex;
    align-items: center;
    margin-right: -0.5rem;
    margin-top: -.5rem;
    width: 600px;
}

.search input{
    width:30vw;
    height:30px;
    margin: 0 19px;
    padding: 0 13px;
}
div.srch img{
    margin-right: 2rem;
}

div.more{
    display: flex;
    margin-left: 6rem;
    align-items: center;
}

div.more p{
    margin: 2rem;
    font-size: 1.2rem;
    color: white;
}
.more p.cart{
    margin-left: -1rem
}
.slider {
    font-size: 40px;
    margin-left: 27rem;
}

 .slider.div.img{
   margin-left: -12px;
   display: flex;
   margin: 3rem

 }

 .slider div img:hover{
    background-color: black;
    background-position: center;
    box-shadow:0 0 4px black ;
    cursor: pointer;
}

 .slider div img{
    background-blend-mode: hard-light;
    transition:all 1s ease-in-out ;
    cursor: pointer;
 }
 

 .slider div{
    margin-left: -13rem;
 }

.slider p{
    margin-left: 20rem;
    
}

.slider h2{
    margin-top: 1rem;
    margin-left : 11rem;
}
.slider h3{
margin-left: 10rem;
font-weight: 100;
    
}

.card{
    font-size: 40px;
    margin-left: 17rem;
    
}

.card.div.img{
    margin-left: -10repx;
    display: flex;
}

.card div img:hover{
background-color: black;
    background-position: center;
    box-shadow:0 0 4px black ;
}
.card div{
    margin-left: -9rem;
}

.card h2{
    margin-left: 23rem;
}

.card p{
    margin-left: 27rem;
}

.lines{
    font-family:'Bodoni Moda', serif;
    font-size: 40px;
}

.lines p {
    margin-left: 17rem;
}


footer{
    height: 10vh ;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Bodoni Moda', serif;
}

.my{
    text-align: center;
}

.container{
    background: navy;
    
}
.my img{
    margin-top: 2rem;

}

/* .top img{
    margin: 0.5rem;
} */



.img{
    height: auto;
    width:64px;
}
/* The dropdown container */
.dropdown {
    overflow-wrap: break-word;
    display: flex;
  }

  /* div a.dropdown{
    display: flex;
  }
   */
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #0074D9;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
 /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #links{
    
        float: left;
        width: fit-content;
        border: 3px ;
        padding: 10px;
        display: flex;
        background-color:white;
  }
